* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  background-color: var(--cor-fundo-geral);
  font-family: "Inter", sans-serif;
}

.btn {
  padding: 16px 32px;
  background-color: var(--cor-btn-principal); 
  color: #fff;
  font-size: 1em;
  border-radius: 10px;
}

.btn:hover {
  background-color: var(--cor-titulo);
}

.btn-secundario {
  padding: 16px 40px;
  background: linear-gradient(to right, var(--cor-btn-degrade1), var(--cor-btn-degrede2));
  color: #000;
  font-size: 1em;
  font-weight: bold;
  border-radius: 10px;
}

.btn-secundario:hover {
  background: linear-gradient(to right, #E36630, #E4C12C);
}

.link-interno {
  display: inline-block;
  border-bottom: 3px solid #0D2B67;
  color: #0D2B67;
  font-weight: bold;
  font-size: 1em;
  padding-bottom: 2px;
}

.link {
  display: inline-block;
  border-bottom: 3px solid #0D2B67;
  color: #0D2B67;
  font-weight: bold;
  font-size: 1.2em;
  padding-bottom: 2px;
}

.link:hover,
.link-interno:hover {
  border-bottom: 3px solid var(--cor-titulo);
  color: var(--cor-titulo);
}

:root {
  --cor-titulo: #10618E;
  --cor-btn-principal: #0D2B67;
  --cor-fundo-destaque: #8ADAF1;
  --cor-fundo-geral: #EBF8F8;
  --cor-destaque-numeros: #2CDED4;
  --cor-btn-degrade1: #FC8A59;
  --cor-btn-degrede2: #FDDE59;
}

/*CITE*/

.cite h3 {
  font-family: "Ubuntu", sans-serif;
   font-size: 1.5em;
   color: var(--cor-btn-principal);
   padding: 60px;
   text-align: center;
}

/*FOOTER*/

.footer {
  background-color: var(--cor-btn-principal);
  color: #fff;
  font-weight: 400;
  text-align: center;
  padding: 30px;
}